body {
    margin: 0;
    overflow-y: hidden;
  }
  .topnav{
    background-color:#333;
    overflow: hidden;
    /* box-sizing: border-box; */
    position: fixed;
    width: 100%;
    margin-bottom: none;
  }
  
  .topnav .nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 27px;
    /* word-spacing: 10px; */
    font-style: fantasy;
  }
  .topnav a.split {
    float: right;
    /* background-color: #04AA6D; */
    color: white;
  }
  
  /* #######################for button ########################## */
  
  .btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    float: right;
    margin-top:15px;
    /* padding: 10px; */
    border-radius: 5px;
    /* margin-right: 10px; */
    
    
  }
  .btn .success {
    margin-right:20px;
  } 
  
  .success {
    border-color: #04AA6D;
    color: green;
    margin-right: 10px;
  }
  .success:hover {
    background-color: #04AA6D;
    color: white;
  }
  
  .info {
    border-color: #2196F3;
    color: dodgerblue;
    margin-right: 10px;
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  
  .required-field::after {
    content: "*";
    color: red;
  }